<header class="page-header">
  <div class="container page-header-container">
    <a class="header-logo link" href="/src/index.html"
      >SIMPLY <span class="headre-logo-span">CHOCOLATE</span>
      <svg class="header-logo-icon" width="21" height="21">
        <use href="../img/icons.svg#icon-chocolate-logo"></use>
      </svg>
    </a>
    <nav class="header-menu-desktop"></nav>
    <button class="header-menu-btn js-open-menu">
      <svg class="header-menu-btn-icon" width="28" height="28">
        <use href="../img/icons.svg#icon-menu-mobile"></use>
      </svg>
    </button>
  </div>
  <div class="header-mobile-menu js-menu-container">
    <button class="mobile-menu-close-btn js-close-menu">
      <svg class="mobile-menu-close-icon" width="8" height="8">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="header-mobile-menu-list list">
      <li class="header-mobile-menu-item">
        <a href="/src/index.html" class="header-mobile-menu-link link">Home</a>
      </li>
      <li class="header-mobile-menu-item">
        <a href="#How it’s made?" class="header-mobile-menu-link link"
          >How it’s made?</a
        >
      </li>
      <li class="header-mobile-menu-item">
        <a href="#Our products" class="header-mobile-menu-link link"
          >Our products</a
        >
      </li>
      <li class="header-mobile-menu-item">
        <a href="#Top sellers" class="header-mobile-menu-link link"
          >Top sellers</a
        >
      </li>
      <li class="header-mobile-menu-item">
        <a href="#Chocolate is loved" class="header-mobile-menu-link link"
          >Chocolate is loved</a
        >
      </li>
    </ul>
    <ul class="header-mobile-menu-list-social list">
      <li class="header-mobile-menu-item-social">
        <a
          class="header-mobile-menu-social-link link"
          href="https://www.instagram.com/"
          ><svg class="header-menu-social-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-mobile-menu-item">
        <a
          class="header-mobile-menu-social-link link"
          href="https://twitter.com/"
          ><svg class="header-menu-social-icon" width="22" height="22">
            <use href="../img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <script src="../js/mobile-menu.js"></script>
</header>
