<section class="section-hero container">
  <div class="hero-picture">
    <div class="container-section-hero">
      <h1 class="visually-hidden">Chocolate</h1>
      <h2 class="hero-text">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-container-btn">
        <div class="hero-container-two-btn">
          <ul class="hero-btn">
            <li class="list-btn-hero list">
              <button class="modal-btn-buy" type="button">Buy now</button>
            </li>
            <li class="list">
              <button class="modal-btn-two" type="button" href="#howitsmade">
                How it’s made
              </button>
            </li>
          </ul>
        </div>
        <button class="modal-btn-three" type="submit" href="#footer">
          scroll down
          <svg
            class="hero-icon hero-icon-mobile"
            aria-label="icon birdie"
            width="28"
            height="28"
          >
            <use href="../img/icons.svg#icon-birdie"></use>
          </svg>
          <svg
            class="hero-icon hero-icon-tablet"
            aria-label="icon birdie"
            width="38"
            height="38"
          >
            <use href="../img/icons.svg#icon-birdie"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
