
<section class="section-hero container">
  <h1 class="visually-hidden">Chocolate</h1>
  <div class="hero-picture">
    <h2 class="hero-text">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-container-btn">
      <div class="hero-container-two-btn">
        <button class="modal-btn-buy" type="button" data-modal-open>
          Buy now
        </button>
        <a class="modal-link-two link" href="#How it's made?">How it’s made</a>
      </div>
      <a class="modal-btn-three link" href="#footer"
        >scroll down
        <div>
          <svg
            class="hero-icon hero-icon-mobile"
            aria-label="icon birdie"
            width="28"
            height="28"
          >
            <use href="../img/icons.svg#icon-birdie"></use>
          </svg>
          <svg
            class="hero-icon hero-icon-tablet"
            aria-label="icon birdie"
            width="38"
            height="38"
          >
            <use href="../img/icons.svg#icon-birdie"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
