<!-- How it's made? -->
<section id="made" class="how-its-made">
  <div class="container">
    <h2 class="made-title">HOW IT’S <span class="accent-title">MADE?</span></h2>
    <div class="how-its-made-content-wrapper">
      <div class="how-its-made-video">
        <iframe
          class="how-its-made-video-iframe"
          src="https://www.youtube.com/embed/41UbWmXKWkc?controls=0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <!-- <div class="how-its-made-img-wrapper">
        <picture class="how-its-made-picture"> -->
      <!-- MOBILE -->
      <!-- <source
            srcset="
              ./img/how_its_made/img-mob.jpg    1x,
              ./img/how_its_made/img-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          /> -->
      <!-- TABLET -->
      <!-- <source
            srcset="
              ./img/how_its_made/img-tab.jpg    1x,
              ./img/how_its_made/img-tab@2x.jpg 2x
            "
            media="(max-width: 1199px)"
          /> -->
      <!-- DESKTOP -->
      <!-- <source
            srcset="
              ./img/how_its_made/img-desk.jpg    1x,
              ./img/how_its_made/img-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="how-its-made-img"
            src="./img/how_its_made/img-desk.jpg"
            alt="Made chocolate"
          />
        </picture>
        <button class="how-its-made-btn">
          <svg class="how-its-made-icon" width="35" height="35">
            <use href="./img/icons.svg#icon-play" />
          </svg>
        </button>
      </div> -->
      <div class="how-its-made-list-wrapper">
        <p class="how-its-made-list-topic">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="how-its-made-list">
          <li class="how-its-made-list-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-its-made-list-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-its-made-list-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-its-made-list-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-its-made-list-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
