<!-- Our product section  -->
<section id="product" class="our-products-section">
  <h2 class="our-products-title">
    Our <span class="our-products-title-part-two">products</span>
  </h2>

  <div class="container">
    <ul class="our-products-list">
      <!-- 1 -->
      <li class="our-products-card">
        <img
          class="our-products-imag"
          srcset="./img/our_products/orange@2x.png 2x"
          src="./img/our_products/orange.png"
          alt="Chocolate"
          width="100%"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">Orange</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button type="button" class="our-products-button">45 UAH</button>
        </div>
      </li>

      <!-- 2 -->
      <li class="our-products-card our-products-card-tablet">
        <img
          class="our-products-imag"
          srcset="./img/our_products/applecranberry@2x.png 2x"
          src="./img/our_products/applecranberry.png"
          alt="Chocolate"
          width="100%"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">APPLE&CRANBERRY</h3>
          <p class="our-products-type">Milk chocolate</p>
          <button type="button" class="our-products-button">50 UAH</button>
        </div>
      </li>

      <!-- 3 -->
      <li class="our-products-card our-products-card-tablet">
        <img
          class="our-products-imag"
          srcset="./img/our_products/limeseasalt@2x.png 2x"
          src="./img/our_products/limeseasalt.png"
          alt="Chocolate"
          width="100%"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">LIME&SEA SALT</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button type="button" class="our-products-button">66 UAH</button>
        </div>
      </li>

      <!-- 4 -->
      <li class="our-products-card our-products-card-dextop">
        <img
          class="our-products-imag"
          srcset="./img/our_products/pineapple@2x.png 2x"
          src="./img/our_products/pineapple.png"
          alt="Chocolate"
          width="100%"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">PINEAPPLE</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button type="button" class="our-products-button">54 UAH</button>
        </div>
      </li>
    </ul>
  </div>
</section>
