<section id="product" class="our-products-section container">
  <h2 class="our-products-title">
    Our <span class="our-products-title-part-two">products</span>
  </h2>

  <div class="swiper mySwiper">
    <ul class="our-products-list swiper-wrapper">
      <!-- 1 -->
      <li class="our-products-card swiper-slide">
        <img
          class="our-products-imag"
          srcset="./img/our_products/orange@2x.png 2x"
          src="./img/our_products/orange.png"
          alt="Chocolate"
          width="230"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">Orange</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button type="button" class="our-products-button">45 UAH</button>
        </div>
      </li>

      <!-- 2 -->
      <li class="our-products-card swiper-slide">
        <img
          class="our-products-imag"
          srcset="./img/our_products/applecranberry@2x.png 2x"
          src="./img/our_products/applecranberry.png"
          alt="Chocolate"
          width="230"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">APPLE&CRANBERRY</h3>
          <p class="our-products-type">Milk chocolate</p>
          <button type="button" class="our-products-button">50 UAH</button>
        </div>
      </li>

      <!-- 3 -->
      <li class="our-products-card swiper-slide">
        <img
          class="our-products-imag"
          srcset="./img/our_products/limeseasalt@2x.png 2x"
          src="./img/our_products/limeseasalt.png"
          alt="Chocolate"
          width="230"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">LIME&SEA SALT</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button type="button" class="our-products-button">66 UAH</button>
        </div>
      </li>

      <!-- 4 -->
      <li class="our-products-card swiper-slide">
        <img
          class="our-products-imag"
          srcset="./img/our_products/pineapple@2x.png 2x"
          src="./img/our_products/pineapple.png"
          alt="Chocolate"
          width="230"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">PINEAPPLE</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button type="button" class="our-products-button">54 UAH</button>
        </div>
      </li>
       <!-- 5 -->
       <li class="our-products-card swiper-slide">
        <img
          class="our-products-imag"
          srcset="./img/our_products/classic-milk@2x.jpg 2x"
          src="./img/our_products/classic-milk.jpg"
          alt="Chocolate"
          width="230"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">Classic</h3>
          <p class="our-products-type">Milk chocolate</p>
          <button type="button" class="our-products-button">45 UAH</button>
        </div>
      </li>

      <!-- 6 -->
      <li class="our-products-card swiper-slide">
        <img
          class="our-products-imag"
          srcset="./img/our_products/honey@2x.jpg 2x"
          src="./img/our_products/honey.jpg"
          alt="Chocolate"
          width="230"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">honey</h3>
          <p class="our-products-type">Milk chocolate</p>
          <button type="button" class="our-products-button">50 UAH</button>
        </div>
      </li>

      <!-- 7 -->
      <li class="our-products-card swiper-slide">
        <img
          class="our-products-imag"
          srcset="./img/our_products/roasted-fruits@2x.jpg 2x"
          src="./img/our_products/roasted-fruits.jpg"
          alt="Chocolate"
          width="230"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">Roasted fruits</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button type="button" class="our-products-button">66 UAH</button>
        </div>
      </li>

      <!-- 8 -->
      <li class="our-products-card swiper-slide">
        <img
          class="our-products-imag"
          srcset="./img/our_products/classic-white@2x.jpg 2x"
          src="./img/our_products/classic-white.jpg"
          alt="Chocolate"
          width="230"
          height="200"
        />
        <div class="our-products-description">
          <h3 class="our-products-subtitle">Classic</h3>
          <p class="our-products-type">White chocolate</p>
          <button type="button" class="our-products-button">54 UAH</button>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
  

</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script type="module" src="./js/our_products.js"></script>
