<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Subscribe  -->
    <div class="wallpaper" style="background-image: url(./img/chocolate.jpg)">
      <h1 class="title">EXPLORE OUR NEW CHOCOLATE FIRST</h1>
      <p class="description">
        From the velvety texture to the rich and complex flavor, our New
        Chocolate is a true indulgence that will leave you craving more. Made
        with only the finest ingredients and handcrafted with the utmost care,
        each piece is a work of art that is sure to please.
      </p>
      <button class="button_1 button-large" type="button" data-modal-open>
        <span class="text_1">Subscribe</span>
      </button>
    </div>
    <!-- Modalka  -->
  </body>
</html>
