<body>
  <!-- Subscribe  -->
  <div
    class="subscribe_wallpaper"
    style="background-image: url(./img/chocolate.jpg)"
  >
    <h1 class="subscribe_title">EXPLORE OUR NEW CHOCOLATE FIRST</h1>
    <p class="subscribe_description">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button
      class="subscribe_button_1 subscribe_button-large"
      type="button"
      data-modal-open
    >
      <span class="subscribe_text_1">Subscribe</span>
    </button>
  </div>
  <!-- Modalka  -->
</body>
