<div class="backdrop-buy is-hidden" data-top-sellers-modal>
  <div class="modal-buy">
    <button
      type="button"
      class="modal-close-btn-buy"
      data-top-sellers-modal-close
    >
      <svg class="modal-close-icon-buy" width="12" height="12">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="title-buy">BUY <span class="title-buy-two">NOW</span></h2>

    <ul class="picture-list-buy list">
      <li class="picture-item-buy">
        <picture>
          <!-- MOBILE -->

          <source
            srcset="
              ./img/buynow/mobile/picture-one.jpg    1x,
              ./img/buynow/mobile/picture-one@2x.jpg 2x
            "
            media="(min-width: 280px)"
          />

          <!-- TABLET -->

          <source
            srcset="
              ./img/buynow/tablet/picture-one.jpg    1x,
              ./img/buynow/tablet/picture-one@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            class="buy-img curent"
            src="./img/buynow/mobile/picture-one.jpg"
            alt="chocolate"
            width="84px"
          />
          <img
            class="buy-img curent-two"
            src="./img/buynow/mobile/picture-one.jpg"
            alt="chocolate"
            width="120px"
          />
        </picture>
        <button class="buy-btn-shop" type="button">100 g</button>
      </li>
      <li class="picture-item-buy">
        <picture>
          <!-- MOBILE -->

          <source
            srcset="
              ./img/buynow/mobile/picture-two.jpg    1x,
              ./img/buynow/mobile/picture-two@2x.jpg 2x
            "
            media="(min-width: 280px)"
          />

          <!-- TABLET -->

          <source
            srcset="
              ./img/buynow/tablet/picture-two.jpg    1x,
              ./img/buynow/tablet/picture-two@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="buy-img curent"
            src="./img/buynow/mobile/picture-two.jpg"
            alt="chocolate"
            width="84px"
          />
          <img
            class="buy-img curent-two"
            src="./img/buynow/mobile/picture-two.jpg"
            alt="chocolate"
            width="120px"
          />
        </picture>
        <button class="buy-btn-shop" type="button">200 g</button>
      </li>
      <li class="picture-item-buy">
        <picture>
          <!-- MOBILE -->

          <source
            srcset="
              ./img/buynow/mobile/picture-three.jpg    1x,
              ./img/buynow/mobile/picture-three@2x.jpg 2x
            "
            media="(min-width: 280px)"
          />

          <!-- TABLET -->

          <source
            srcset="
              ./img/buynow/tablet/picture-three.jpg    1x,
              ./img/buynow/tablet/picture-three@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="buy-img curent"
            src="./img/buynow/mobile/picture-three.jpg"
            alt="chocolate"
            width="84px"
          />
          <img
            class="buy-img curent-two"
            src="./img/buynow/mobile/picture-three.jpg"
            alt="chocolate"
            width="120px"
          />
        </picture>
        <button class="buy-btn-shop" type="button">300 g</button>
      </li>
    </ul>

    <form class="contact-form-buynow">
      <div class="contact-form-two-input">
        <label class="contact-form-wrapper-buynow" for="user-name">
          Personal information
        </label>
        <div class="container-two-input">
          <input
            class="contact-form-input-buynow-two"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Name"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄʼ]+"
            autofocus
          />

          <input
            class="contact-form-input-buynow-two"
            type="text"
            name="user-surname"
            id="user-name"
            placeholder="Surname"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄʼ]+"
            autofocus
          />
        </div>
      </div>
      <div class="contact-form-two-input">
        <label class="contact-form-wrapper-buynow" for="user-email">
          Email
        </label>

        <input
          class="contact-form-input-buynow-two"
          type="email"
          name="user-email"
          id="user-email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="contact-form-two-input">
        <label class="contact-form-wrapper-buynow" for="user-tel">
          Phone number
        </label>
        <div class="contact-form-input-wrapper input-block">
          <input
            class="contact-form-input-buynow-two form-input-buynow-two"
            type="tel"
            name="user-tel"
            id="user-tel"
            placeholder="Phone number"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xx-xxx-xx-xx"
          />
          <div class="container-number">
            <svg
              class="contact-form-input-icon-buynow"
              aria-label="icon ukreine"
              width="24"
              height="24"
            >
              <use href="./img/icons.svg#icon-ukreine"></use>
            </svg>
            <p class="number-ukreine">+380</p>
          </div>
        </div>
      </div>

      <div class="contact-form-two-input">
        <label class="contact-form-wrapper-buynow" for="user-card">
          Card number
        </label>
        <div class="contact-form-input-wrapper input-block">
          <input
            class="contact-form-input-buynow-two"
            type="text"
            name="user-card"
            id="user-card"
            placeholder="Enter card"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            autofocus
            title="xxxx-xxxx-xxxx-xxxx"
          />
          <svg
            class="contact-form-input-icon-buynow position-icon icon-media"
            aria-label="icon mastercard"
            width="32"
            height="21"
          >
            <use href="./img/icons.svg#icon-mastercard"></use>
          </svg>
          <svg
            class="contact-form-input-icon-buynow position-icon icon-media-two"
            aria-label="icon mastercard"
            width="44"
            height="30"
          >
            <use href="./img/icons.svg#icon-mastercard"></use>
          </svg>
        </div>
      </div>

      <div class="contact-form-two-input">
        <label class="contact-form-wrapper-buynow" for="user-comment">
          Card number
        </label>
        <textarea
          class="contact-form-message-buy"
          name="user-comment"
          id="user-comment"
          placeholder="Enter text"
        ></textarea>
      </div>

      <button type="submit" class="contact-form-submit-buy">Submit</button>
    </form>
  </div>
</div>
