<section id="sellers" class="top-sellers-section">
  <div class="container top-sellers-container">
    <h2 class="top-sellers-title">
      <span class="top-sellers-title-orange">top</span> sellers
    </h2>
    <div class="top-sellers-pic-container">
      <ul class="list top-sellers-chocolate-images-list">
        <li class="top-sellers-img-one">
          <picture class="top-sellers-picture">
            <source
              srcset="
                ./img/top-sellers-img/ts-desctop-pic-three.jpg    1x,
                ./img/top-sellers-img/ts-desctop-pic-three@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/top-sellers-img/ts-tablet-pic-three.jpg    1x,
                ./img/top-sellers-img/ts-tablet-pic-three@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/top-sellers-img/ts-mobile-pic-three.jpg    1x,
                ./img/top-sellers-img/ts-mobile-pic-three@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="top-sellers-pic top-sellers-item-three"
              src="./img/top-sellers-img/ts-desctop-pic-three.jpg"
              alt="picture of chocolate"
            />
          </picture>
        </li>
        <li class="top-sellers-mobile-paragraph">
          <p class="top-sellers-paragraph">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </li>
        <li class="top-sellers-img-two">
          <picture class="top-sellers-picture">
            <source
              srcset="
                ./img/top-sellers-img/ts-desctop-pic-one.jpg    1x,
                ./img/top-sellers-img/ts-desctop-pic-one@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/top-sellers-img/ts-tablet-pic-one.jpg    1x,
                ./img/top-sellers-img/ts-tablet-pic-one@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/top-sellers-img/ts-mobile-pic-one.jpg    1x,
                ./img/top-sellers-img/ts-mobile-pic-one@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="top-sellers-pic top-sellers-item-one"
              src="./img/top-sellers-img/ts-desctop-pic-one.jpg"
              alt="picture of chocolate"
            />
          </picture>
        </li>
        <li class="top-sellers-img-three">
          <picture class="top-sellers-picture">
            <source
              srcset="
                ./img/top-sellers-img/ts-desctop-pic-two.jpg    1x,
                ./img/top-sellers-img/ts-desctop-pic-two@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="top-sellers-pic top-sellers-item-two"
              src="./img/top-sellers-img/ts-desctop-pic-two.jpg"
              alt="picture of chocolate"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="top-sellers-button-container">
      <p class="top-sellers-paragraph top-sellers-tablet-paragraph">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button
        class="top-sellers-button"
        type="button"
        data-top-sellers-modal-open
      >
        Buy now
      </button>
    </div>
  </div>
</section>
<script src="/modal.js"></script>
