<section class="section">
  <h2 class="unique-components-head-text">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span class="tasty-color">TASTE</span> SENSATION
  </h2>
  <p class="unique-components-paragraph">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="container unique-components-list list">
    <li class="card first-card">
      <a class="link" href="">
        <div class="unique-components-block orange-back">
          <picture>
            <source
              srcset="
                ../img/unique_components/desktop/chocolate.png    1x,
                ../img/unique_components/desktop/chocolate@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/unique_components/mobile/chocolate.png    1x,
                ../img/unique_components/mobile/chocolate@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              class="unique-components-img"
              src="../img/unique_components/mobile/chocolate.png"
              alt="pece of chocolate"
              width="100%"
            />
          </picture>
          <p class="unique-components-text-under-img">MILK CHOCOLATE</p>
        </div>
      </a>
      <div class="card-back">
        <h3 class="card-text-main">Milk chocolate</h3>
        <div class="card-button-position">
          <button type="button" class="card-button">
            chocolate
          </button>
          <button type="button" class="card-button">
            the benefits
          </button>
        </div>
        <p class="card-text">
          Milk chocolate is a solid chocolate confectionery containing cocoa,
          sugar and milk. It is the most consumed type of chocolate. Chocolate
          was originally sold and consumed as a beverage in pre-Columbian times.
          Although four-fifths of all milk chocolate is sold in the United
          States and Europe.
        </p>
      </div>
    </li>
    <li class="card second-card">
      <a class="link" href="">
        <div class="unique-components-block white-back">
          <picture>
            <source
              srcset="
                ../img/unique_components/desktop/milk.png    1x,
                ../img/unique_components/desktop/milk@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/unique_components/mobile/milk.png    1x,
                ../img/unique_components/mobile/milk@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              class="unique-components-img"
              src="../img/unique_components/mobile/milk.png"
              alt="butle of milk"
              width="100%"
            />
          </picture>
          <p class="unique-components-text-under-img dark-text">MILK</p>
        </div>
      </a>
      <div class="card-back">
        <h3 class="card-text-main">Milk</h3>
        <div class="card-button-position">
          <button type="button" class="card-button">
            milk
          </button>
          <button type="button" class="card-button">
            the benefits
          </button>
        </div>
        <p class="card-text">
          Milk is a white liquid food produced by the mammary glands of mammals.
          It is the primary source of nutrition for young mammals (including
          breastfed human infants) before they are able to digest solid
          food.Early-lactation milk, which is called colostrum, contains...
        </p>
      </div>
    </li>
    <li class="card third-card">
      <a class="link" href="">
        <div class="unique-components-block gray-back">
          <picture>
            <source
              srcset="
                ../img/unique_components/desktop/nuts.png    1x,
                ../img/unique_components/desktop/nuts@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/unique_components/mobile/nuts.png    1x,
                ../img/unique_components/mobile/nuts@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              class="unique-components-img"
              src="../img/unique_components/mobile/nuts.png"
              alt="nuts"
              width="100%"
            />
          </picture>
          <p class="unique-components-text-under-img">NUTS</p>
        </div>
      </a>
      <div class="card-back">
        <h3 class="card-text-main">Nuts</h3>
        <div class="card-button-position">
          <button type="button" class="card-button">
            nuts
          </button>
          <button type="button" class="card-button">
            the benefits
          </button>
        </div>
        <p class="card-text">
          Almonds, pistachios, and walnuts are some types of nuts that contain
          healthy nutrients. When eaten as part of a nutrient-dense diet, these
          9 nuts may offer benefits such as reducing your risk of heart disease.
          They’re a good source of fiber, healthy fats, and plant protein. Plus,
          they’re...
        </p>
      </div>
    </li>
    <li class="card fourth-card">
      <a class="link" href="">
        <div class="unique-components-block white-back">
          <picture>
            <source
              srcset="
                ../img/unique_components/desktop/chocolate_granules.png    1x,
                ../img/unique_components/desktop/chocolate_granules@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/unique_components/mobile/chocolate_granules.png    1x,
                ../img/unique_components/mobile/chocolate_granules@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              class="unique-components-img"
              src="../img/unique_components/mobile/chocolate.png"
              alt="pece of chocolate"
              width="100%"
            />
          </picture>
          <p class="unique-components-text-under-img dark-text">
            SEMI - SWEET CHOCOLATE
          </p>
        </div>
      </a>
      <div class="card-back">
        <h3 class="card-text-main">semi - sweet chocolate</h3>
        <div class="card-button-position">
          <button type="button" class="card-button">
            sweet chocolate
          </button>
          <button type="button" class="card-button">
            the benefits
          </button>
        </div>
        <p class="card-text">
          Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
          the best ways to gain an understanding of this type of chocolate is to
          compare it to a different type of chocolate. Semisweet is darker than
          milk...
        </p>
      </div>
    </li>
  </ul>
</section>
