<section class="section">
  <h2 class="unique-components-head-text">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span class="tasty-color">TASTE</span> SENSATION
  </h2>
  <p class="unique-components-paragraph">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="container unique-components-list">
    <li class="">
      <a href="">
        <div class="unique-components-block orange-back">
          <img
            class="unique-components-img"
            srcset="
              ../img/unique_components/chocolate.png    1x,
              ../img/unique_components/chocolate@2x.png 2x
            "
            src="../img/unique_components/chocolate.png"
            alt="pece of chocolate"
            width="224"
            height="171"
          />
          <p class="unique-components-text-under-img">MILK CHOCOLATE</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div  class="unique-components-block white-back">
          <img
            class="unique-components-img"
            srcset="
              ../img/unique_components/milk.png    1x,
              ../img/unique_components/milk@2x.png 2x
            "
            src="../img/unique_components/milk.png"
            alt="butle of milk"
            width="224"
            height="171"
          />
          <p>MILK</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="unique-components-block gray-back">
          <img
            class="unique-components-img"
            srcset="
              ../img/unique_components/nuts.png     1x,
              ../img/unique_components/nutse@2x.png 2x
            "
            src="../img/unique_components/nuts.png"
            alt="nuts"
            width="224"
            height="171"
          />
          <p>NUTS</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="unique-components-block orange-back">
          <img
            class="unique-components-img"
            srcset="
              ../img/unique_components/chocolate_granules.png    1x,
              ../img/unique_components/chocolate_granules@2x.png 2x
            "
            src="../img/unique_components/chocolate_granules.png"
            alt="chocolate granules"
            width="224"
            height="171"
          />
          <p>SEMI - SWEET CHOCOLATE</p>
        </div>
      </a>
    </li>
  </ul>
</section>
