/*========== How it's made? =========*/

.how-its-made-list {
  list-style-type: disc;
}

.how-its-made {
  padding-bottom: 72px;
}

.accent-title {
  color: var(--accent-color);
}

.made-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.how-its-made-list-topic {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;
  max-width: 307px;
  margin-bottom: 20px;
}

.how-its-made-list-item {
  font-size: 11px;
}

@media screen and (min-width: 375px) {
  .how-its-made-list-topic {
    font-size: 18px;
  }

  .how-its-made-list-item {
    font-size: 14px;
  }
}

.how-its-made-list-wrapper {
  padding: 20px 14px;
}

.how-its-made-list-item {
  margin-left: 16px;
}
.how-its-made-content-wrapper {
  position: relative;
}
.how-its-made-list .how-its-made-list-item:not(:last-child) {
  margin-bottom: 18px;
}
.how-its-made-video {
  position: relative;
  width: 100%;
  height: 500px;
  /* padding-top: 56.25%; */
  background: #eee;
  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */
}
.how-its-made-video-iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.how-its-made-img-wrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .how-its-made {
    padding-bottom: 100px;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  .how-its-made-list-wrapper {
    padding: 32px;
    /* width: 614px; */
  }
  .how-its-made-video {
    height: 400px;
  }
  .how-its-made-list-topic {
    margin-bottom: 28px;
    max-width: 350px;
  }

  .how-its-made-btn {
    width: 44px;
    height: 44px;
  }

  .how-its-made-list-item {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made {
    padding-bottom: 128px;
  }

  .how-its-made-list .how-its-made-list-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .how-its-made-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .how-its-made-img-wrapper {
    width: 600px;
    margin-bottom: 0;
  }
}

.how-its-made-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color1);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.how-its-made-icon {
  fill: #f5f4f4;
}

.how-its-made-img {
  width: 100%;
}
