:root {
  --text-color-theme-dark: #ffffff;
  --text-color-theme-light: #111111;
  --accent-color: #fd9222;

  /* для svg */
  --color1: #fff;
  --color2: #fd9222;
}

/* Reviews */
ul {
  list-style-type: none;
}
.reviews-block {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

@media screen and (min-width: 320px) {
  .reviews-block {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 16px;
    overflow-y: hidden;
  }
  .reviews-item-wrapper {
    width: auto;
  }
  .reviews-item-hide {
    display: none;
  }
  .reviews-item-hide2 {
    display: none;
  }
  
}
@media screen and (min-width: 768px) {
  .reviews-block {
    display: flex;
    flex-direction: row;
    row-gap: 28px;
    column-gap: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: wrap;
    flex-basis: calc((100% - 32px) / 2);
  }
  .reviews-item-wrapper {
    margin-bottom: 40px;
    width: 344px;
  }
  .reviews-item-hide {
    display: none;
  }
  .reviews-item-hide2 {
    display: block;
  }

}
@media screen and (min-width: 1200px) {
  .reviews-block {
    display: flex;
    flex-direction: row;
    row-gap: 28px;
    column-gap: 28px;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 56px) / 3);
  }
  .reviews-item-wrapper {
    width: auto;
  }
  .reviews-item-hide {
    display: block;
    
  }
  .reviews-item-hide2 {
    display: block;
    
  }
}

.reviews-section-upper {
  padding-bottom: 72px;
  text-align: center;
}

.reviews-section-tittle {
  margin-bottom: 74px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text-color-theme-light);
  letter-spacing: -0.03em;

  text-align: center;

  text-transform: uppercase;
}

.reviews-section-tittle-brown {
  color: var(--accent-color);
}

.reviews-item-wrapper {
  padding-top: 38px;
}

.reviews-item {
  position: relative;

  text-align: center;
  background-color: var(--color1);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.05px 26.57px rgba(215, 228, 249, 0.25);
}

.reviews-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
}

.reviews-thumb {
  padding-top: 56px;
  padding-bottom: 42px;
  padding-left: 18px;
  padding-right: 18px;
}
@media screen and (min-width: 1200px) {
  .reviews-thumb {
    width: 360px;
  }
}
.reviews-name {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-color-theme-light);
}

.reviews-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(17, 17, 17, 0.7);
}

.btn {
  padding: 12px 28px;
  border-radius: 100px;
  border: 1px solid var(--color1);
  font-weight: 600;
  line-height: calc(17 / 14);
  color: var(--color1);
  background-color: transparent;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 10ms cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.btn-review {
  margin-top: 32px;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  color: var(--text-color-theme-light);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 30ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.btn-review:hover,
.btn.btn-review:focus {
  border-color: transparent;
  color: var(--color1);
  background-color: var(--accent-color);
  transform: scale(1.1);
}

.btn.btn-review:active {
  border-color: transparent;
  color: var(--color1);
  background-color: var(--accent-color);
}
    swiper-container {
      width: 100%;
    }

    swiper-slide {
      background-position: center;
      background-size: cover;
      max-width: 360px;
      height: 300px;
    }

    swiper-slide img {
      display: block;
      width: 80px;
      height: 80px;
    }
