.wallpaper {
    background-image: url(./img/chocolate.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.backfon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-content {
    position: relative;
    width: 538px;
    height: 412px;
    background: #FAFAFA;
    border-radius: 14px;
}

.modal-content img {
    border-radius: 14px 14px 0 0;
}

.modal-close {
    fill: #ffffff;
}

.backfon.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.footer-form-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 24px;
    gap: 40px;

    width: 313px;
    height: 52px;

    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 30px;
}

.button_1,
.button-large {
    border-radius: 24px;
    background-color: #FD9222;
    color: white;
    font-size: 24px;
    padding: 6px 12px;
    border: 0px;
}

.button_1:hover,
.button_1:focus {
    background-color: #FCF1E0;
}

.button_1:hover .text_1,
.button_1:focus .text_1 {
    color: #FD9222;
}

.button_2:hover,
.button_2:focus {
    background-color: #FCF1E0;
}

.button_2:hover .text_2,
.button_2:focus .text_2 {
    color: #FD9222;
}

.button_2 {
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
    gap: 14px;
    isolation: isolate;
    width: 137px;
    height: 52px;
    background: #FD9222;
    border-radius: 100px;
    margin-top: -52px;
    margin-left: 350px;
}

.text_1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.text_2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.description {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.new_chocolate {
    color: #FD9222;
}