:root {
    --subscribe-titel-color: #ffffff;
    --subscribe-text-color: #ffffff;
    --subscribe-accent-btn-color: #FD9222;
    --subscribe-accent-btn-focus-color: #FCF1E0;
}


.subscribe-section {
    margin: 0 auto;
    max-width: 1200px;

    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.subscribe-title {
    max-width: 291px;
    height: 48px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--subscribe-titel-color);
}

.subscribe-text {
    width: 467px;
    height: 72px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;

}

.subscribe-btn-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: var(--subscribe-text-color);
}

.subscribe-button,
.subscribe-button-large {
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px;
    gap: 14px;
    width: 128px;
    height: 41px;
    background: var(--subscribe-accent-btn-color);
    border-radius: 100px;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--subscribe-accent-btn-focus-color);
}

.subscribe-button:hover .subscribe-btn-text,
.subscribe-button:focus .subscribe-btn-text {
    color: var(--subscribe-accent-btn-color);
}

/* ==========MEDIA========== */

/*========== MOBILE ==========*/

@media screen and (max-width: 767px) {

    .subscribe-section {
        padding: 62px 0;

        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(./img/subscribe/mobile@1x/chocolate-mb@1x.jpg);
    }

    .subscribe-text {
        width: 100%;
        height: 108px;
    }

    .subscribe-btn-text {
        font-size: 14px;
    }

}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 375px),
screen and (min-resolution: 192dpi),
screen and(min-resolution: 2dppx) {

    .subscribe-section {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(./img/subscribe/mobile@2x/chocolate-mb@2x.jpg);
    }

}

/*========== TABLET ==========*/

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .subscribe-section {
        padding: 72px 0;

        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(./img/subscribe/tablet@1x/chocolate-tab@1x.jpg);
    }

    .subscribe-button {
        padding: 14px 40px;
        width: 172px;
        height: 50px;
    }

}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi),
screen and(min-resolution: 2dppx) {

    .subscribe-section {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(./img/subscribe/tablet@2x/chocolate-tab@2x.jpg);
    }

}

/*========== DESKTOP ==========*/

@media screen and (min-width: 1200px) {

    .subscribe-section {
        padding: 72px 0;

        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(./img/subscribe/desktop@1x/chocolate-desk@1x.jpg);
    }

    .subscribe-button {
        padding: 14px 40px;
        width: 172px;
        height: 50px;
    }

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi),
screen and(min-resolution: 2dppx) {

    .subscribe-section {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(./img/subscribe/desktop@2x/chocolate-desk@2x.jpg);
    }

}